/* Button */
@utility btn {
  --btn-w: auto;
  --btn-h: calc(var(--spacing) * 9);
  --btn-px: calc(var(--spacing) * 3);
  --btn-text: var(--text-base);
  --btn-line: var(--tw-leading, var(--text-base--line-height));

  @apply h-[var(--btn-h)] w-[var(--btn-w)] px-[var(--btn-px)]
  gap-3 rounded-lg f-center ring-4 ring-transparent transition-all origin-bottom
  active:scale-90 disabled:opacity-50 disabled:cursor-not-allowed;

  font-size: var(--btn-text);
  line-height: var(--btn-line);

  :where(.menu-y &) {
    @apply w-full !justify-start;
  }
}
/* --- */

/* Sizes */
@utility btn-sm {
  --btn-h: calc(var(--spacing) * 8);
  --btn-text: var(--text-sm);
  --btn-line: var(--tw-leading, var(--text-sm--line-height));
}

@utility btn-lg {
  --btn-h: calc(var(--spacing) * 10);
  --btn-text: var(--text-lg);
  --btn-line: var(--tw-leading, var(--text-lg--line-height));
}

@utility btn-square {
  --btn-w: var(--btn-h);
  --btn-px: 0;
}
/* --- */

/* Variants */
@utility btn-fill {
  @apply btn; /* Extend */

  @apply bg-palette
  text-background
  not-focus:hover:bg-palette/90
  focus:ring-palette/20;
}

@utility btn-outline {
  @apply btn; /* Extend */

  @apply border
  border-palette
  text-palette
  not-focus:hover:bg-palette/10
  focus:ring-palette/20;
}

@utility btn-soft {
  @apply btn; /* Extend */

  @apply text-palette
  not-focus:bg-palette/10
  not-focus:hover:bg-palette/20
  focus:ring-palette/20;
}

@utility btn-glass {
  @apply btn; /* Extend */

  @apply text-palette
  backdrop-blur-sm
  not-focus:bg-palette/10
  not-focus:hover:bg-palette/20
  focus:ring-palette/20;
}

@utility btn-ghost {
  @apply btn; /* Extend */

  @apply text-palette
  not-focus:hover:bg-palette/10
  focus:ring-palette/20;
}
/* --- */
