/* Buttons */
@utility btn {
  @apply px-3 h-9 text-base gap-3 rounded-lg f-center transition-all origin-bottom ring-4 ring-transparent active:scale-90 disabled:opacity-50 disabled:cursor-not-allowed;

  :where(.menu-y &) {
    @apply w-full !justify-start;
  }
}

/* Variants */
@utility btn-fill {
  @apply btn; /* Extend */

  @apply bg-palette
  text-background
  not-focus:hover:bg-palette/90
  focus:ring-palette/20;
}

@utility btn-outline {
  @apply btn; /* Extend */

  @apply border
  border-palette
  text-palette
  not-focus:hover:bg-palette/10
  focus:ring-palette/20;
}

@utility btn-soft {
  @apply btn; /* Extend */

  @apply text-palette
  not-focus:bg-palette/10
  not-focus:hover:bg-palette/20
  focus:ring-palette/20;
}

@utility btn-glass {
  @apply btn; /* Extend */

  @apply text-palette
  backdrop-blur-sm
  not-focus:bg-palette/10
  not-focus:hover:bg-palette/20
  focus:ring-palette/20;
}

@utility btn-ghost {
  @apply btn; /* Extend */

  @apply text-palette
  not-focus:hover:bg-palette/10
  focus:ring-palette/20;
}
