/* card */
@utility card {
  --card-p: calc(var(--spacing) * 3);

  @apply bg-palette text-brush p-[var(--card-p)] rounded-kado hover:bg-palette/90;
}
/* --- */

/* Sizes */
@utility card-sm {
  --card-p: calc(var(--spacing) * 1.5);
}

@utility card-lg {
  --card-p: calc(var(--spacing) * 6);
}

@utility card-pure {
  --card-p: 0;
}
