/*
  Input
  This element should be <label>
*/
@utility input {
  --input-h: calc(var(--spacing) * 9);
  --input-text: var(--text-base);
  --input-line: var(--tw-leading, var(--text-base--line-height));

  @apply h-[var(--input-h)]
  ring-4 ring-transparent w-full flex rounded-lg gap-3 cursor-pointer transition-all origin-bottom
  relative disabled:opacity-50 disabled:cursor-not-allowed;

  font-size: var(--input-text);
  line-height: var(--input-line);

  &:has(input) {
    @apply items-center px-3;
  }

  &:has(textarea) {
    @apply h-[33vh] p-3;
  }
}

/* Sizes */
@utility input-lg {
  --input-h: calc(var(--spacing) * 10);
  --input-text: var(--text-lg);
  --input-line: var(--tw-leading, var(--text-lg--line-height));
}

@utility input-sm {
  --input-h: calc(var(--spacing) * 8);
  --input-text: var(--text-sm);
  --input-line: var(--tw-leading, var(--text-sm--line-height));
}
/* --- */

/* Field */
@utility input-field {
  @apply bg-transparent flex-1 h-full;
}
/* --- */

/* Variants */
@utility input-outline {
  @apply input; /* Extend */

  @apply border
  text-palette
  border-palette
  not-focus-within:hover:bg-palette/10
  focus-within:ring-palette/20;
}

@utility input-soft {
  @apply input; /* Extend */

  @apply text-palette
  not-focus-within:bg-palette/10
  not-focus-within:hover:bg-palette/20
  focus-within:ring-palette/20;
}

@utility input-ghost {
  @apply input; /* Extend */

  @apply text-palette
  not-focus-within:hover:bg-palette/10
  focus-within:ring-palette/20;
}
