@utility palette-foreground {
  --color-palette: var(--color-foreground);
}

@utility palette-primary {
  --color-palette: var(--color-primary);
}

@utility palette-success {
  --color-palette: var(--color-success);
}

@utility palette-warning {
  --color-palette: var(--color-warning);
}

@utility palette-danger {
  --color-palette: var(--color-danger);
}
